* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	width: 980px;
	height: 980px;
	margin: auto;
}

.grid-item {
	border: 1px solid black;
}

.button-div {
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popupButton {
	padding: 1em;
	width: 10em;
	color: white;
	background-color: #7393b3;
	border: none;
	font-weight: bold;
	font-size: 1.2em;
}

.popupButton:hover {
	background-color: #b2beb5;
	cursor: pointer;
}
