* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.grid-container {
	width: 960px;
	height: 960px;
}

.grid-container > div {
	height: 25px;
}

.box {
	border: 1px solid red;
	box-sizing: border-box;
	display: inline-block;
	width: 25px;
	height: 25px;
}

.button-div {
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popupButton {
	padding: 1em;
	width: 10em;
	color: white;
	background-color: #7393b3;
	border: none;
	font-weight: bold;
	font-size: 1.2em;
}

.popupButton:hover {
	background-color: #b2beb5;
	cursor: pointer;
}
